# Manual IonSoC OpenOCD entry point.
#
# Start the simulator first:
#   make verilator-jtag
#
# Then connect OpenOCD:
#   openocd -f legacy/openocd/ionsoc-rbb.cfg

source [find legacy/openocd/ionsoc-rbb-base.cfg]

init
halt
